.destination-card{
    position: relative;
    width: fit-content;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}

.destination-card img{
    width: 100%;
}
.destination-card-arrow{
    position: absolute;
    top: 1px;
    right: 1px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.destination-card-content{
    position: absolute;
    margin: 10px;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 15px;
    background: rgba(133, 131, 131, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 15px;
}
.destination-card-content p{
    font-size: var(--text-sm);
}


@media (min-width: 769px) and (max-width: 1280px) {
    /* .destination-card{
    max-width: 300px;
} */
}

@media (min-width: 1281px) and (max-width: 1440px) {

}

@media (min-width: 1441px){

}