.packages-card{
    position: relative;
    width: fit-content;
    border-radius: 25px;
}

.packages-card img{
    max-width: 300px;
}

.packages-card-content{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex !important;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
    padding: 15px;
}
.packages-card-content p{
    color: #fff;
}
.packages-card-info{
    display: flex;
    gap: 15px;
}
.packages-card-info p{
    border: 1px solid gray;
    border-radius: 15px;
    padding: 5px;
}
.packages-time-info{
    background: rgba(133, 131, 131, 0);
    backdrop-filter: blur(10px);
    color: #fff !important;
}
.packages-price-info{
    background-color: #fff;
    color: #000 !important;
}

@media (min-width: 769px) and (max-width: 1280px) {
    .packages-text{
    display: none;
    }
    .packages-card{
    transition: 
        transform 0.3s ease,
        margin 0.3s ease;
}
    .packages-card:hover{
        transform: scale(1.1);
        margin-right:12px;
        margin-left:12px;
    }
    .packages-card:hover .packages-text{
        display:block;
    transform: translateY(100%);
    animation: slideUp 0.4s ease forwards;
}

@keyframes slideUp {
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0);
    }
}
}


@media (min-width: 1281px) and (max-width: 1440px) {
.packages-text{
    display: none;
    }
    .packages-card{
    transition: 
        transform 0.3s ease,
        margin 0.3s ease;
}
    .packages-card:hover{
        transform: scale(1.1);
        margin-right:12px;
        margin-left:12px;
    }
    .packages-card:hover .packages-text{
        display:block;
    transform: translateY(100%);
    animation: slideUp 0.4s ease forwards;
}

@keyframes slideUp {
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0);
    }
}
}

@media (min-width: 1441px){
.packages-text{
    display: none;
    }
    .packages-card{
    transition: 
        transform 0.3s ease,
        margin 0.3s ease;
}
    .packages-card:hover{
        transform: scale(1.1);
        margin-right:12px;
        margin-left:12px;
    }
    .packages-card:hover .packages-text{
        display:block;
    transform: translateY(100%);
    animation: slideUp 0.4s ease forwards;
}

@keyframes slideUp {
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0);
    }
}
}