.header {
    background-image: url("https://pub-848096b3755f485d9ace04bb5ee26618.r2.dev/pictures/header-footer-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    margin-bottom: 30px;
} 
 .header-top-sect,
.header-middle-sect,
.header-bottom-sect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
} 
.logo-header h1{
    color: #fff;
    font-size: var(--title-md);
} 
 .nav-header{
    display: none;
    gap: 20px;
} 
 .nav-header a{
    text-decoration: none;
    color: #fff;
} 
 .language-header p{
    color: #fff;
} 
 .Burger{
display: block;
}
.burger-checkbox {
  display: none;
}
.burger {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  z-index: 11;
}
.burger span {
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 2px;
  transition: 0.3s;
}
.burger-checkbox:checked + .burger span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.burger-checkbox:checked + .burger span:nth-child(2) {
  opacity: 0;
}

.burger-checkbox:checked + .burger span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
.burger-menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 220px;
  height: 100vh;
  background: white;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: 0.3s ease;
  box-shadow: -4px 0 10px rgba(0,0,0,0.1);
  z-index: 10;
}
.burger-checkbox:checked ~ .burger-menu {
  right: 0;
}
.burger-menu a {
  font-size: 20px;
  text-decoration: none;
  color: black;
} 
.social-media{
    display: flex;
    flex-direction: column;
    gap: 5px;
} 
.social-icon{
    width: var(--icon-lg);
    height: var(--icon-lg);
}
 .header-middle-sect{
    margin: 80px 0 80px 0;
} 
 .header-middle-sect p{
    color: #fff;
    font-size: var(--title-lg);
    font-weight: bold;
    width: 60%;
} 
 .header-bottom-sect p{
    color: #fff;
    font-size: var(--text-base);
} 
 .discover{
    display: flex;
    gap: 1.5rem;
    width: 70%;
} 
 .discover p{
    width: 70%;
    display: none;
} 
 .explore-more{
    display: flex;
    gap: 3px;
    color: #fff;
    font-size: var(--text-base);
    cursor: pointer;
    text-wrap: nowrap;
}
.explore-more p:hover {
  transition: all 0.25s ease;
  transform: translateX(4px);
}

.main{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
}
.about-us{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 50px;
}
.about-us-content{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 80%;
    margin: auto;
    padding: 15px;
}
.about-us-content p{
    font-size: var(--title-md);
}
.statistics-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.statistics{
    border-radius: 15px;
    padding: 5px;
}
.statistics h2{
    font-weight: normal;
    font-size: var(--title-lg);
}
.statistics p{
    text-wrap: nowrap;
    font-size: var(--text-sm) !important;
}
.statistics:hover {
  transition: all 0.25s ease;
  border: 1px solid gray;
}
.swiper {
  overflow: hidden;
  max-height: 210px;
  margin-bottom: 50px;
}
.swiper-track {
  display: flex;
  gap: 1rem;
  width: max-content;
  animation: scroll 25s linear infinite;
}
.swiper-slide {
  margin-top: auto;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
.destination{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 5px;
    margin-bottom: 50px;
}
.destination-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}
.destination-title h2{
    font-size: var(--title-lg);
    text-align: center;
}
.destination-title p{
    text-align: center;
    font-size: var(--text-sm) !important;
}
.destination-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.galleries{
    margin-bottom: 50px;
}
.gallerie-title{
    display: flex;
    gap: 15px;
    margin-bottom: 50px;
}
.gallerie-title p{
    color: gray;
}
.gallerie-title h2{
    font-size: var(--title-md);
}
.gallerie-content{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 40px;
}
.gallerie-content p{
    position: absolute;
    bottom: 0;
    left: 0;
    text-wrap: nowrap;
}
.reservation{
    margin-bottom: 50px;
}
.reservation-title{
    margin-bottom: 15px;
}
.reservation-title p{
    color: gray;
    margin-bottom: 10px;
}
.reservation-container{
    display: flex;
    flex-direction: column;
}
.reservation-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}
.reservation-content h2{
    font-size: var(--title-md);
}
.reservation-btns{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 30px;
    font-size: var(--text-sm);
}
.reservation-btn{
    border: 1px solid gray;
    padding: 8px;
    border-radius: 15px;
}
.reservation-footer{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.reservation-footer p{
    font-size: var(--text-sm);
    margin-top: auto;
}
.book-now-btn{
    padding: 10px;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: var(--text-base);
    background-color: #fff;
    color: rgb(72, 72, 72);
}
.packages{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 50px;
}
.packages p{
    color: gray;
}
.packages-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .5rem;
}
.packages-title h2{
    font-size: var(--title-md);
}
.packages-title p{
    font-size: var(--text-sm);
}
.packages-container{
    display: flex;
    gap: 1rem;
    overflow-y: auto;
}

.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 15px;
}
.footer-top-sect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 1rem;
}
.footer-middle-sect{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-middle-container{
    display: flex;
    flex-direction: column;
}
.footer-info{
   display: flex;
    gap: 1rem;
    margin-bottom: 30px;
}
.footer-info h2{
    font-size: var(--text-base);
}
.footer-middle-content{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 80%;
    margin-bottom: 30px;
}
.footer-middle-content h2{
    font-size: var(--title-md);
}
.footer-info-left,
.footer-info-middle,
.footer-info-right{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.footer-logo{
    text-align: center;
    font-size: 50px;
}
.footer-bottom-sect{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.footer-bottom-sect p{
    text-align: start;
    font-size: var(--text-sm);
}
.footer-bottom-nav{
    display: flex;
    gap: .5rem;
    margin-bottom: 15px;
    color: #fff;
}
.footer-bottom-nav a{
    color: #fff;
    text-decoration: none;
}

@media (min-width: 481px) and (max-width: 768px) {
    .header-middle-sect p{
    width: 40%;
    }
}

@media (min-width: 769px) and (max-width: 1280px) {
    .Burger{
        display: none;
    }
    .nav-header{
        display: flex;
    }
    .header-middle-sect p{
    font-size: var(--title-xl);
    width: 40%;
    }
    .discover p{
    display: block;
    }
    .about-us-content{
    width: 70%;
    }
    .about-us-content p{
    font-size: var(--title-lg);
    }
    .statistics-container{
        gap: 4rem;
        flex-wrap: nowrap;
    }
    .statistics h2{
    font-size: var(--title-xl);
    }
    .destination-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
}
.destination-title h2{
    text-align: left;
    width: 40%;
    margin-top: auto;
}
.destination-title p{
    text-align: left;
    width: 30%;
    margin-top: auto;
}
.gallerie-title{
    gap: 6rem;
}
.gallerie-title h2{
    width: 60%;
    font-size: var(--title-lg);
}
.gallerie-content{
    padding-left: 140px;
}
.packages-title{
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
}
.packages-title h2{
    font-size: var(--title-lg);
    width: 40%;
}
.packages-title p{
    width: 30%;
}
.footer-top-sect{
    width: 90%;
}
.footer-top-sect h2{
    font-size: var(--title-lg);
}
.footer-middle-container{
    flex-direction: row;
    justify-content: space-between;
}
.footer-middle-content{
    width: 30%;
}
.footer-bottom-sect{
    flex-direction: row;
    justify-content: space-between;
}
.footer-logo{
    font-size: 80px;
}
}

@media (min-width: 1281px) and (max-width: 1440px) {
    .header{
        max-width: 1440px;
    }
    .Burger{
        display: none;
    }
    .nav-header{
        display: flex;
    }
    .header-middle-sect p{
    font-size: var(--title-xl);
    width: 40%;
    }
    .discover p{
    display: block;
    }
    .main{
    max-width: 1440px;
    }
    .about-us-content{
    width: 70%;
    }
    .about-us-content p{
    font-size: var(--title-xl);
    }
    .statistics-container{
    gap: 6rem;
    }
    .statistics h2{
    font-size: var(--title-xl);
    }
    .destination-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
}
.destination-title h2{
    text-align: left;
    width: 40%;
    margin-top: auto;
}
.destination-title p{
    text-align: left;
    width: 30%;
    margin-top: auto;
}
.gallerie-title{
    gap: 6rem;
}
.gallerie-title h2{
    width: 60%;
    font-size: var(--title-lg);
}
.gallerie-content{
    padding-left: 140px;
}
.reservation-title{
    margin-bottom: 40px;
}
.reservation-title h2{
    font-size: var(--title-lg);
    width: 60%;
}
.reservation-container{
    flex-direction: row;
}
.reservation-content{
    gap: 2rem;
}
.reservation-footer{
    margin-top: auto;
}
.packages-title{
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
}
.packages-title h2{
    font-size: var(--title-lg);
    width: 40%;
}
.packages-title p{
    width: 30%;
}
.footer{
    max-width: 1440px;
}
.footer-top-sect{
    width: 60%;
}
.footer-top-sect h2{
    font-size: var(--title-lg);
}
.footer-top-sect p{
    width: 70%;
}
.footer-middle-container{
    flex-direction: row;
    justify-content: space-between;
}
.footer-middle-content{
    width: 30%;
}
.footer-bottom-sect{
    flex-direction: row;
    justify-content: space-between;
}
.footer-logo{
    font-size: 100px;
}
}

@media (min-width: 1441px){
    .header{
        max-width: 1440px;
    }
    .Burger{
        display: none;
    }
    .nav-header{
        display: flex;
    }
    .header-middle-sect p{
    font-size: var(--title-xl);
    width: 40%;
    }
    .discover p{
    display: block;
    } 
    .main{
    max-width: 1440px;
    }
    .about-us-content{
    width: 70%;
}
    .about-us-content p{
    font-size: var(--title-xl);
    }
    .statistics-container{
    gap: 6rem;
    }
    .statistics h2{
    font-size: var(--title-xl);
    }
    .destination-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
}
.destination-title h2{
    text-align: left;
    width: 40%;
    margin-top: auto;
    font-size: var(--title-xl);
}
.destination-title p{
    text-align: left;
    width: 30%;
    margin-top: auto;
}
.gallerie-title{
    gap: 6rem;
}
.gallerie-title h2{
    width: 60%;
    font-size: var(--title-xl);
}
.gallerie-content{
    padding-left: 140px;
}
.reservation-title{
    margin-bottom: 40px;
}
.reservation-title h2{
    font-size: var(--title-xl);
    width: 60%;
}
.reservation-container{
    flex-direction: row;
}
.reservation-content{
    gap: 2rem;
}
.reservation-footer{
    margin-top: auto;
}
.packages-title{
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
}
.packages-title h2{
    font-size: var(--title-xl);
}
.packages-title p{
    width: 30%;
}
.footer{
    max-width: 1440px;
}
.footer-top-sect{
    width: 80%;
}
.footer-top-sect h2{
    font-size: var(--title-xl);
}
.footer-top-sect p{
    width: 70%;
}
.footer-middle-container{
    flex-direction: row;
    justify-content: space-between;
}
.footer-middle-content{
    width: 30%;
}
.footer-bottom-sect{
    flex-direction: row;
    justify-content: space-between;
}
.footer-logo{
    font-size: 100px;
}
}
