.header {
    background-image: url("https://pub-848096b3755f485d9ace04bb5ee26618.r2.dev/pictures/header-footer-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    margin-bottom: 30px;
} 
 .header-top-sect,
.header-middle-sect,
.header-bottom-sect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
} 
.logo-header h1{
    color: #fff;
    font-size: var(--title-md);
} 
 .nav-header{
    display: none;
    gap: 20px;
} 
 .nav-header a{
    text-decoration: none;
    color: #fff;
} 
 .language-header p{
    color: #fff;
} 
 .Burger{
display: block;
}
.burger-checkbox {
  display: none;
}
.burger {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  z-index: 11;
}
.burger span {
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 2px;
  transition: 0.3s;
}
.burger-checkbox:checked + .burger span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.burger-checkbox:checked + .burger span:nth-child(2) {
  opacity: 0;
}

.burger-checkbox:checked + .burger span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
.burger-menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 220px;
  height: 100vh;
  background: white;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: 0.3s ease;
  box-shadow: -4px 0 10px rgba(0,0,0,0.1);
  z-index: 10;
}
.burger-checkbox:checked ~ .burger-menu {
  right: 0;
}
.burger-menu a {
  font-size: 20px;
  text-decoration: none;
  color: black;
} 
.social-media{
    display: flex;
    flex-direction: column;
    gap: 5px;
} 
.social-icon{
    width: var(--icon-lg);
    height: var(--icon-lg);
}
 .header-middle-sect{
    margin: 80px 0 80px 0;
} 
 .header-middle-sect p{
    color: #fff;
    font-size: var(--title-lg);
    font-weight: bold;
    width: 60%;
} 
 .header-bottom-sect p{
    color: #fff;
    font-size: var(--text-base);
} 
 .discover{
    display: flex;
    gap: 1.5rem;
    width: 70%;
} 
 .discover p{
    width: 70%;
    display: none;
} 
 .explore-more{
    display: flex;
    gap: 3px;
    color: #fff;
    font-size: var(--text-base);
    cursor: pointer;
    text-wrap: nowrap;
}
.explore-more p:hover {
  transition: all 0.25s ease;
  transform: translateX(4px);
}

.main{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
}
.about-us{
    display: flex;
    padding: 5px;
}
.about-us-content{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 80%;
    margin: auto;
    padding: 15px;
}
.about-us-content p{
    font-size: var(--title-md);
}
.statistics-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.statistics{
    border-radius: 15px;
    padding: 5px;
}
.statistics h2{
    font-weight: normal;
    font-size: var(--title-lg);
}
.statistics p{
    text-wrap: nowrap;
    font-size: var(--text-sm) !important;
}
.statistics:hover {
  transition: all 0.25s ease;
  border: 1px solid gray;
}


@media (min-width: 481px) and (max-width: 768px) {
    .header-middle-sect p{
    width: 40%;
    }
}

@media (min-width: 769px) and (max-width: 1280px) {
    .Burger{
        display: none;
    }
    .nav-header{
        display: flex;
    }
    .header-middle-sect p{
    font-size: var(--title-xl);
    width: 40%;
    }
    .discover p{
    display: block;
    }
    .about-us-content{
    width: 70%;
    }
    .about-us-content p{
    font-size: var(--title-lg);
    }
    .statistics-container{
        gap: 4rem;
        flex-wrap: nowrap;
    }
    .statistics h2{
    font-size: var(--title-xl);
    }
}

@media (min-width: 1281px) and (max-width: 1440px) {
    .header{
        max-width: 1440px;
    }
    .Burger{
        display: none;
    }
    .nav-header{
        display: flex;
    }
    .header-middle-sect p{
    font-size: var(--title-xl);
    width: 40%;
    }
    .discover p{
    display: block;
    }
    .main{
    max-width: 1440px;
    }
    .about-us-content{
    width: 70%;
    }
    .about-us-content p{
    font-size: var(--title-xl);
    }
    .statistics-container{
    gap: 6rem;
    }
    .statistics h2{
    font-size: var(--title-xl);
    }
}

@media (min-width: 1441px){
    .header{
        max-width: 1440px;
    }
    .Burger{
        display: none;
    }
    .nav-header{
        display: flex;
    }
    .header-middle-sect p{
    font-size: var(--title-xl);
    width: 40%;
    }
    .discover p{
    display: block;
    } 
    .main{
    max-width: 1440px;
    }
    .about-us-content{
    width: 70%;
}
    .about-us-content p{
    font-size: var(--title-xl);
    }
    .statistics-container{
    gap: 6rem;
    }
    .statistics h2{
    font-size: var(--title-xl);
    }
}
